body {
    background-color:rgb(145, 145, 204);
  }
  
  h1 {
    color: rgb(15, 7, 88)
  }

  h3 {
    font-family: Copperplate, Papyrus, fantasy;
  }

  h2 {
    font-family: Garamond, serif;
  }

  img {
      border-radius:50%;

  }

  div {
    text-align: center;
  }


  body {
    cursor: pointer;
}

h3 {
    cursor: help;
}

img {
    border: 5px solid rgb(66, 125, 139);
  }